.user-search-container {
    position: absolute;
    width: 100%;
    padding-bottom: 5px;
    border-radius: 15px;
    z-index: 10000;
}

.user-search-item {
    display: flex;
    flex-direction: row;
    background: #d9d9d9;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #000;
    margin-top: 5px;
    cursor: pointer;
}

.user-search-item p {
    margin-top: 5px;
    margin-left: 10px;
}
